/*
Theme Name: Twenty Twenty-Two Child
Theme URI: https://sahara.tmy.io
Author: Thomas Kuhnert
Author URI: https://tmy.io
Description: A child theme for TT2.
Requires at least: 5.8
Tested up to: 5.9
Requires PHP: 5.6
Version: 0.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentytwentytwo-child
Template: twentytwentytwo
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments

Twenty Twenty-Two Child WordPress Theme, (C) 2021 WordPress.org
Twenty Twenty-Two Child is distributed under the terms of the GNU GPL.
*/
.animation-buttons {
	position: absolute;
	top: 32px;
	left: 0;
}

#animation {
	/* height: 100%; */
	/* filter: blur(1px); */
}

.overlay {
	position: absolute;
	top: 0px;
	left: 0;
	opacity: 0.5;
	pointer-events: none;
	object-fit: cover;
}

.center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.d-none {
	display: none;
}

.m-0 {
	margin: 0 !important;
}

#nav {
	position: relative;
}