<!-- wp:template-part {"slug":"header","theme":"twentytwentythree-child","tagName":"header"} /-->
<!-- wp:template-part {"slug":"landingvideo","theme":"twentytwentythree-child"} /-->!
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"
      style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--70)">
    <!-- wp:embed {"url":"https://vimeo.com/796507885/6eb70981f8","type":"video","providerNameSlug":"vimeo","responsive":true,"lock":{"move":true,"remove":true},"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio landingvideo1"} -->
    <figure class="wp-block-embed is-type-video is-provider-vimeo wp-block-embed-vimeo wp-embed-aspect-16-9 wp-has-aspect-ratio landingvideo1">
        <div class="wp-block-embed__wrapper">https://vimeo.com/796507885/6eb70981f8</div>
    </figure>
    <!-- /wp:embed -->
    <!-- wp:embed {"url":"https://vimeo.com/796464306","type":"video","providerNameSlug":"vimeo","responsive":true,"lock":{"move":true,"remove":true},"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio landingvideo2"} -->
    <figure class="wp-block-embed is-type-video is-provider-vimeo wp-block-embed-vimeo wp-embed-aspect-16-9 wp-has-aspect-ratio landingvideo2">
        <div class="wp-block-embed__wrapper">https://vimeo.com/796464306</div>
    </figure>
    <!-- /wp:embed -->
    <!-- wp:heading {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} -->
    <h1 class="alignwide"
        style="margin-bottom:var(--wp--preset--spacing--60)">Mindblown: a blog about philosophy.</h1>
    <!-- /wp:heading -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"twentytwentythree-child"} /-->
